.svn

.settings
.project
.classpath
target
engine/src/main/resources/dc-config.properties
engine/src/test/resources/dc-config.properties
core/src/main/resources/dc-config.properties

*.log
engine/.gitignore
