<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} (%t) [%-5p] %C{1} - %m%n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="debug"/>
		<param name="File" value="dc-core.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} (%t) [%-5p] %C{1} - %m%n" />
		</layout>
	</appender>
	<category name="com.fujitsu.dc" >
		<priority value ="DEBUG" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout"/>
	</category>
</log4j:configuration>